@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-color: #f97316;
}

@layer base {
  body {
    @apply select-none;
  }
}

.item-card-enter {
  opacity: 0;
  transform: translateY(10px);
}

.item-card-enter-active {
  opacity: 1;
  transform: translateY(0);
  transition: opacity 300ms, transform 300ms;
}

/* Custom Hide Scrollbar */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}